<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
<meta http-equiv="Pragma" content="no-cache"> 
<meta http-equiv="Cache-Control" content="no-cache"> 
<meta http-equiv="Expires" content="0"> 
<title>后台登录</title> 
<link href="../static/css_new/login.css" type="text/css" rel="stylesheet"> 
</head> 
<body> 

<div class="login">
    <div class="message">Arthur推荐引擎-服务管理系统</div>
    <div id="darkbannerwrap"></div>
    
    <form method="post" action="login">
		<input name="action" value="login" type="hidden">
		<input name="username" placeholder="用户名" required="" type="text">
		<hr class="hr15">
		<input name="password" placeholder="密码" required="" type="password">
		<hr class="hr15">
		<input value="登录" style="width:100%;" type="submit">
		<hr class="hr20">
        <a onClick="alert('请联系管理员')">忘记密码</a>
		<!-- 帮助 <a onClick="alert('请联系管理员')">忘记密码</a> -->
	</form>

	
</div>
用于任何ML库，算法，部署工具或语言。它基于和简单的数据格式（例如，可将模型视为lambda函数）构建，算法工程师可以一键发布自己训练好的模型，并进行管理，发布后的服务会自动呈现在也在算法市场，也可以在这里查询使用别人的算法服务.
<div class="copyright">© 2018 Beyonds by <a href="http://www.beyonds.com/" target="_blank">Arthur Team</a></div>

</body>
</html>
