<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png" />
	<link rel="icon" type="image/png" href="assets/img/favicon.png" />
	<title>Paper Bootstrap Wizard by Creative Tim</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
<link rel="stylesheet" href="../static/layui/css/layui.css" media="all" />
<link rel="stylesheet" href="../static/layui/public.css" media="all" />
<link href="../static/css_new/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<script src="../static/js_new/plugins/sweetalert/sweetalert.min.js"></script>
<script type="text/javascript" src="../static/layui/layui.js"></script>
	<!-- CSS Files -->
    <link href="../static/assets/form_service_build/css/bootstrap.min.css" rel="stylesheet" />
	<link href="../static/assets/form_service_build/css/paper-bootstrap-wizard.css" rel="stylesheet" />

	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link href="../static/assets/form_service_build/css/demo.css" rel="stylesheet" />

	<!-- Fonts and Icons -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
	<link href="../static/assets/form_service_build/css/themify-icons.css" rel="stylesheet">
</head>
<style>
    .layui-form-checkbox, .layui-form-checkbox *, .layui-form-switch{
        display:none;
    } 
    .layui-input, .layui-select, .layui-textarea {
        background-color:#F3F2EE;  
        box-shadow: none;
    }
    .choice{
        width:142px;
        height :107px;
    }
    .wizard-container{
       width:100%;
        height :90%; 
    }
</style>
    
<body>
	    <!--   Big container   -->
	    <div class="container">
	        <!--<div class="row">-->
		        <div class="col-sm-12 col-sm-offset-0">

		            <!--      Wizard container      class="layui-form" style="width:80%; padding-top:20px;"  -->
		            <div class="wizard-container">
		                <div class="layui-form card wizard-card" data-color="green" id="wizard">
		                <form action="" method="">
		                <!--        You can switch " data-color="green" "  with one of the next bright colors: "blue", "azure", "orange", "red"       -->

		                    	<div class="wizard-header">
		                        	<h3 class="wizard-title">创建一个新实验</h3>
		                        	<p class="category">This information will let us know more about your experiment.</p>
		                    	</div>
								<div class="wizard-navigation">
									<div class="progress-with-circle">
									    <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="4" style="width: 15%;"></div>
									</div>
									<ul>
			                            <li>
											<a href="#location" data-toggle="tab">
												<div class="icon-circle">
													<i class="ti-list"></i>
												</div>
												实验信息
											</a>
										</li>
			                            <li>
											<a href="#type" data-toggle="tab">
												<div class="icon-circle">
													<i class="ti-direction-alt"></i>
												</div>
												流量分配
											</a>
										</li>
			                            <li>
											<a href="#facilities" data-toggle="tab">
												<div class="icon-circle">
													<i class="ti-settings"></i>
												</div>
												实验配置
											</a>
										</li>
			                            <li>
											<a href="#description" data-toggle="tab">
												<div class="icon-circle">
													<i class="ti-comments"></i>
												</div>
												描述信息
											</a>
										</li>
			                        </ul>
								</div>
		                        <div class="tab-content">
		                            <div class="tab-pane" id="location">
		                            	<div class="row">
		                                	<div class="col-sm-12">
		                                    	<h5 class="info-text"> Let's start with the basic service details</h5>
		                            		</div>
		                                	<div class="col-sm-5 col-sm-offset-1">
		                                    	<div class="form-group">
		                                        	<label>项目名称/ID</label>
		                                        	<input type="text" class="layui-input" id="form_projname" placeholder="service name/ID">
		                                    	</div>
		                                	</div>
		                                	<div class="col-sm-5">
		                                    	<div class="form-group">
		                                        	<label>项目描述</label>
		                                        	<input type="text" class="form-control" id="form_projectdesc" placeholder="service description">
		                                    	</div>
		                                	</div>
		                                	<div class="col-sm-5 col-sm-offset-1">
		                                    	<div class="form-group">
		                                        	<label>所属领域</label>
		                                        	<select class="form-control" id="form_algo_field">
			                                            <option disabled="" selected="">- types -</option>
			                                            <option value="0">机器学习</option>
			                                            <option value="1">文本分析 </option>
			                                            <option value="2">计算机视觉</option>
			                                            <option value="3">深度学习</option>
		                                        	</select>
		                                    	</div>
		                                	</div>
		                                	<div class="col-sm-5">
		                                    	<div class="form-group">
		                                        	<label>项目标签</label>
		                                        	<!--<div class="input-group">-->
		                                            	<input type="text" class="form-control" placeholder="service tags" id="form_tags">
		                                            	<!--<span class="input-group-addon">$$</span>-->
		                                        	<!--</div>-->
		                                    	</div>
		                                	</div>
		                            	</div>
		                            </div>
		                            <div class="tab-pane" id="type">
		                                <h5 class="info-text">What type of operator do you have? </h5>
		                                <div class="row">
		                                    <div class="col-sm-10 col-sm-offset-1" id="recommendtype">
		                                        <div class="col-sm-4 ">
													<div class="choice" data-toggle="wizard-checkbox">
		                                                <input type="checkbox" name="pub" value="发布" id="form_opertype">
		                                                <div class="card card-checkboxes card-hover-effect">
		                                                    <i class="ti-cloud-up"></i>
															<p>发布</p>
		                                                </div>
		                                            </div>
		                                        </div>
                                                    <div class="col-sm-4">
													<div class="choice" data-toggle="wizard-checkbox">
		                                                <input type="checkbox" name="reg" value="注册" id="form_opertype2">
		                                                <div class="card card-checkboxes card-hover-effect">
		                                                    <i class="ti-sharethis"></i>
															<p>注册</p>
		                                                </div>
		                                            </div>
		                                        </div>
		                                        <div class="col-sm-4">
													<div class="choice" data-toggle="wizard-checkbox">
		                                                <input type="checkbox" name="mail" value="是" id="form_emailmsg">
		                                                <div class="card card-checkboxes card-hover-effect">
		                                                    <i class="ti-email"></i>
															<p>邮件通知</p>
		                                                </div>
		                                            </div>
		                                        </div>
                                                
                                                              
                                           <div class="col-sm-8 col-sm-offset-2">
                                                <br>
                                                     <div class="layui-hide releaseFlux">
                                                            <div class="form-group" >
                                                                <input type="text" class="form-control" id="dddd" placeholder="请输入流量比例">
                                                            </div>			
                                                    </div>
                                                </div>
                                                
		                                    </div>
                                            
                                            
		                                </div>
		                            </div>
		                            <div class="tab-pane" id="facilities">
		                                <h5 class="info-text">Tell us more about your algorithm. </h5>
		                                <div class="row">
		                                    <div class="col-sm-5 col-sm-offset-1">
		                                    	<div class="form-group">
		                                        	<label>Host</label>
		                                        	<select class="form-control" id="form_host">
			                                            <option disabled="" selected="">- host -</option>
			                                            <option>0.0.0.0</option>
			                                            <option>127.0.0.1 </option>
			                                            <option>47.104.210.142</option>
		                                        	</select>
		                                    	</div>
		                                    </div>
		                                    <div class="col-sm-5">
		                                    	<div class="form-group">
		                                        	<label>Port</label>
		                                        	<select class="form-control" id="form_port">
			                                            <option disabled="" selected="">- port -</option>
			                                            <option>9001</option>
			                                            <option>9008 </option>
		                                        	</select>
		                                    	</div>
		                                    </div>
		                                    <div class="col-sm-5 col-sm-offset-1">
		                                    	<div class="form-group">
		                                        	<label>算法目录</label>
		                                        	<input type="text" class="form-control" id="form_funcspath" placeholder="/myalgo/prediction.py">
		                                    	</div>
		                                    </div>
		                                    <div class="col-sm-5">
		                                    	<div class="form-group">
		                                        	<label>算法函数集</label>
		                                        	<input type="text" class="form-control" id="form_funclist"  placeholder="prediction.pred">
		                                    	</div>
		                                    </div>
		                                </div>
		                            </div>
		                            <div class="tab-pane" id="description">
		                                <div class="row">
		                                    <h5 class="info-text"> Drop us a small description about your experiment. </h5>
		                                    <div class="col-sm-6 col-sm-offset-1">
		                                        <div class="form-group">
		                                            <label>实验描述</label>
		                                            <textarea class="form-control" placeholder="请输入实验描述信息" rows="9" id="form_remark"></textarea>
		                                        </div>
		                                    </div>
		                                    <div class="col-sm-4">
		                                        <div class="form-group">
		                                            <label>说明</label>
		                                            <p class="description">"ABTest配置管理平台，平台设计为每一个ab测试生成唯一id，围绕id生成测试对象，对象包含各种分组配置，每一组分组配置包含生效时间。"</p>
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
		                        </div>
		                        <div class="wizard-footer">
	                            	<div class="pull-right layui-form-item">
                                        
	                                    <input type='button' class='btn btn-next btn-fill btn-success btn-wd' name='next' value='Next' />
                                        <!--<button  type="button" lay-submit="" lay-filter="addServicee" class="layui-btn block"> 立即提交 </button>-->
	                                    <input type='button' class='btn btn-finish btn-fill btn-success btn-wd' lay-submit="" lay-filter="addService" name='finish' value='Publish' target="_top"/>
									</div>

	                                <div class="pull-left">
	                                    <input type='button' class='btn btn-previous btn-default btn-wd' name='previous' value='Previous' />
	                                </div>
	                                <div class="clearfix"></div>
		                        </div>
		                    </form>
		                </div>
		            </div> <!-- wizard container -->
		        </div>
	        <!--</div> --><!-- row -->
	    </div> <!--  big container -->

</body>

	<!--   Core JS Files   -->
	<script src="../static/assets/form_service_build/js/jquery-2.2.4.min.js" type="text/javascript"></script>
	<script src="../static/assets/form_service_build/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="../static/assets/form_service_build/js/jquery.bootstrap.wizard.js" type="text/javascript"></script>

	<!--  Plugin for the Wizard -->
	<script src="../static/assets/form_service_build/js/abtestAddWizard.js" type="text/javascript"></script>

	<!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
	<script src="../static/assets/form_service_build/js/jquery.validate.min.js" type="text/javascript"></script>


<script src="../static/js_new/Arthur/service_create_new.js" type="text/javascript"></script>

<script>
//渲染service add form中所属领域/操作类型和邮件通知的样式
$$(function(){
layui.use(['form','layer'],function(){
    var form = layui.form
        layer = parent.layer === undefined ? layui.layer : top.layer,
        $$ = layui.jquery;
})  
});
</script>

</html>