$def with (exp_list)
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <script src="../static/js_new/plugins/sweetalert/sweetalert.min.js"></script>
    <link href="../static/css_new/plugins/sweetalert/sweetalert.css" rel="stylesheet">

    <!--<link rel="stylesheet" href="../static/layui/css/layui.css" media="all" />--已经在base页加载-->
    <!--<link rel="stylesheet" href="../static/layui/public.css" media="all" />-->
    <script src="../static/js_new/Arthur/create_abtest.js"></script>
    <script src="../static/js_new/Arthur/abtesting_client.js"></script>
</head>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div >
            <div class="col-sm-7">
                <div class="jumbotron">
                    <h1>实验创建</h1>
                    <p>请根据提示完成A/B Testing实验的创建</p>
                    <p><a href="abtest.html" target="_blank" class="btn btn-primary btn-lg" role="button">查看实验列表</a>
                    </p>
                </div>
            </div>
            <div class="col-md-5">
                            <div class="ibox-content">
                                <div>
                                    <div>
                                        <span>已有实验</span>
                                        <small class="pull-right" id="all_exp_cnt">12</small>
                                    </div>
                                    <div class="progress progress-small">
                                        <div style="width: 100%;" class="progress-bar"></div>
                                    </div>

                                    <div>
                                        <span>已完成实验</span>
                                        <small class="pull-right" id="is_win_list">18个</small>
                                    </div>
                                    <div class="progress progress-small" id="is_win_ratio">
                                        
                                    </div>

                                    <div>
                                        <span>已取消实验</span>
                                        <small class="pull-right" id="is_pause_list">10</small>
                                    </div>
                                    <div class="progress progress-small" id="is_pause_ratio">
                                        <!--<div style="width: 40%;" class="progress-bar"></div>-->
                                    </div>

                                    <div>
                                        <span>已结束实验</span>
                                        <small class="pull-right" id="is_end_list">0</small>
                                    </div>
                                    <div class="progress progress-small" id="is_end_ratio">
                                        <!--<div style="width: 20%;" class="progress-bar progress-bar-danger"></div>-->
                                    </div>
                                </div>
                            </div>
                        </div>

            <div class="col-sm-12">
                
            <table class="layui-table mag0" style="padding:0 35px;">
			<colgroup>
				<col width="25%">
				<col width="45%">
				<col>
		    </colgroup>
		    <thead>
		    	<tr>
		    		<th>参数名称</th>
		    		<th>参数值</th>
		    		<th pc>变量名</th>
		    	</tr>
		    </thead>
		    <tbody>
		    	<tr>
		    		<td>实验名称/ID</td>
		    		<td><input type="text" class="layui-input expid" id="expid" lay-verify="required" placeholder="请输入A/B实验名称"></td>
		    		<td pc>exp_id</td>
		    	</tr>
		    	<tr>
		    		<td>当前版本</td>
		    		<td><input type="text" class="layui-input version" id="version" placeholder="请输入当前实验版本,ex:1.0"></td>
		    		<td pc>version</td>
		    	</tr>
		    	<tr>
		    		<td>实验组列表</td><!--<input type="text" name="tags" class="layui-input"  id="singleFieldTags2" placeholder="请输入实验组列表，ex:name1,name2">-->
		    		<td>
                        <input name="tags" class="layui-input" id="singleFieldTags2">
                    </td>
		    		<td pc>explist</td>
		    	</tr>

		    </tbody>
		</table>

    </div>
            <div class="col-sm-12">
                 <div class="magt10 layui-right">
                        <div class="layui-input-block">
                            <button class="layui-btn addABtest_btn" lay-submit="" lay-filter="systemParameter" >立即提交</button>
                            <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-- onclick=create_abtest()>
                        </div>
                    </div>
            </div>
            </div>
            		
            
    </div>
        
        

<form>
            <p>Example of tag events. Try adding or removing a tag, adding a duplicate tag, or clicking on a tag's label.</p>
            <ul id="eventTags">
                <li>Click my label</li>
                <li>Remove me</li>
            </ul>
</form>


<link rel="stylesheet" href="../static/js_new/Arthur/layui-autocomplete/layuiAutocomplete.css" media="all" />
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" src="../static/js_new/Arthur/layui-autocomplete/tag-it.js"></script>
<script type="text/javascript" src="../static/js_new/Arthur/Arthur_autotag.js"></script>


   <div class="layui-inline">
        <label class="layui-form-label" style="width:60px">所属单位</label>
        <div class="layui-input-inline" style="width:180;">
            <input type='text' class="layui-input" name="department" id="user-department">
        </div>
    </div>
    <script>
        layui.config({
            base: '../static/js_new/Arthur/layui-autocomplete/' //假设这是test.js所在的目录
        }).extend({ //设定模块别名
            autocomplete: 'layAutoComplete'
        });
        layui.use(['autocomplete'], function () {
            var departmentList = [{ name: '机器学习', pinyin: 'ml' }, { name: '上海市', pinyin: 'shanghaishi' }, { name: '南京市', pinyin: 'nanjingshi' }, { name: '天津市', pinyin: 'tianjingshi' }, { name: '重庆市', pinyin: 'chongqingshi' }]
            layui.autocomplete({
                element: '#explist',
                array: departmentList,
                num: 1,
                count: 5,
                //done: function (item) {
                    
                        
                //    alert(JSON.stringify(item))
                //}
            })
        })
    </script>




<div class="form-group">
                            <label class="font-noraml">多选</label>
                            <div class="input-group">
                                <select data-placeholder="选择省份" class="chosen-select" multiple style="width:350px;" tabindex="4">
                                    <option value="">请选择省份</option>
                                    <option value="110000" hassubinfo="true">北京</option>
                                    <option value="120000" hassubinfo="true">天津</option>
                                    <option value="130000" hassubinfo="true">河北省</option>
                                    <option value="140000" hassubinfo="true">山西省</option>
                                    <option value="150000" hassubinfo="true">内蒙古自治区</option>
                                    <option value="210000" hassubinfo="true">辽宁省</option>
                                    <option value="220000" hassubinfo="true">吉林省</option>
                                    <option value="230000" hassubinfo="true">黑龙江省</option>
                                    <option value="310000" hassubinfo="true">上海</option>
                                    <option value="320000" hassubinfo="true">江苏省</option>
                                    <option value="330000" hassubinfo="true">浙江省</option>
                                    <option value="340000" hassubinfo="true">安徽省</option>
                                    <option value="350000" hassubinfo="true">福建省</option>
                                    <option value="360000" hassubinfo="true">江西省</option>
                                    <option value="370000" hassubinfo="true">山东省</option>
                                    <option value="410000" hassubinfo="true">河南省</option>
                                    <option value="420000" hassubinfo="true">湖北省</option>
                                    <option value="430000" hassubinfo="true">湖南省</option>
                                    <option value="440000" hassubinfo="true">广东省</option>
                                    <option value="450000" hassubinfo="true">广西壮族自治区</option>
                                    <option value="460000" hassubinfo="true">海南省</option>
                                    <option value="500000" hassubinfo="true">重庆</option>
                                    <option value="510000" hassubinfo="true">四川省</option>
                                    <option value="520000" hassubinfo="true">贵州省</option>
                                    <option value="530000" hassubinfo="true">云南省</option>
                                    <option value="540000" hassubinfo="true">西藏自治区</option>
                                    <option value="610000" hassubinfo="true">陕西省</option>
                                    <option value="620000" hassubinfo="true">甘肃省</option>
                                    <option value="630000" hassubinfo="true">青海省</option>
                                    <option value="640000" hassubinfo="true">宁夏回族自治区</option>
                                    <option value="650000" hassubinfo="true">新疆维吾尔自治区</option>
                                    <option value="710000" hassubinfo="true">台湾省</option>
                                    <option value="810000" hassubinfo="true">香港特别行政区</option>
                                    <option value="820000" hassubinfo="true">澳门特别行政区</option>
                                    <option value="990000" hassubinfo="true">海外</option>
                                </select>
                            </div>
</div>


<script type="text/javascript" src="../static/js_new/Arthur/layui-formSelects/formSelects-v4.js"></script>
<link rel="stylesheet" href="../static/js_new/Arthur/layui-formSelects/formSelects-v4.css" media="all" />



<!--<div class="layui-form">
    <select name="city" xm-select="select15">
        <option value="">请选择, 此处是联动多选</option>
    </select>
     
    <script>
   
         
        layui.formSelects.data('select15', 'server', {
            url: 'http://127.0.0.1:8000/mutil',
            linkage: true,
            linkageWidth: 130
        });
         
        //如果有需要默认值的小伙伴请使用formSelects.value
       layui.formSelects.value('select15', ['1/12/13', '1/12/14'])
            
       
    </script>
</div>

<!--<div class="layui-form">
    <select name="city" xm-select="select15">
        <option value="">请选择, 此处是联动多选</option>
    </select>
    <script>  http://127.0.0.1:8000/mutil
        layui.formSelects.data('select15', 'local', {
            arr: /api/abtest/abservlist  http://yapi.demo.qunar.com/mock/9813/layui/citys
                },
            ],
            linkage: true
        });
         
        //如果有需要默认值的小伙伴请使用formSelects.value
        formSelects.value('select15', ['1/12/13', '1/12/14'])
    </script>
</div>-->



                            

<!--<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>-->
     <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="../static/autocomplete/tag-it/js/tag-it.js"></script>
<link href="../static/autocomplete/tag-it/css/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">
<link href="../static/autocomplete/tag-it/css/jquery.tagit.css" rel="stylesheet" type="text/css">
    

        


<script>
console.log(layui.sort([{a: 3},{a: 1},{a: 5}], 'a'))
</script>


                            
<!--<div id="test1"></div>-->
                    
<style>
    @charset "UTF-8";

    .tagit-autocomplete{
        z-index:99999
    }
#nav {
    left:0;
}
#header {
    padding-top:3em;
}

#header h1, #header h2 {
    margin: 0 0 .2em 0;
    padding-top: 1.8em;
}
    hr + h3, hr + h4 {
    margin-top: 0;
}
hr {
    margin-bottom: .4em;
}


ul#nav li {
    padding:0;
}

.myform {
    padding:20px 0px;
}
.myform div.line {
    clear:both;
    min-height:50px;
    margin-bottom:15px;
}
.myform label {
    display:block;
    font-weight:bold;
    margin-bottom:5px;
}

#events_container {
    font-size:.8em;
}
</style>
                            
                            
    <script type="text/javascript">
      var session = new sixpack.Session();
      function participate() {
        session.participate("test-exp", ["alt-one", "alt-two"],function (err, res) {
          if (err) throw err;
          document.getElementById("participate").innerHTML = JSON.stringify(res);
        });
      }
      function convert() {
        session.convert("test-exp", function (err, res) {
          if (err) throw err;
          document.getElementById("convert").innerHTML = JSON.stringify(res);
        });
      }
    </script>
  
  <div onload="participate();">
    <h1>Sixpack</h1>
    <p>Response for participate:</p>
    <code><pre id="participate"></pre></code>
    <p>Response for convert:</p>
    <code><pre id="convert"></pre></code>
    <button onClick="convert();">Convert!</button>
</div>