

<div class="headerpage"></div>

<!-- Contents -->
<div id="Contents">
    <div id="MainForm">
    <h2><div style="color:#169c83">添加新上线API</div></h2>
<div id="Popup">
<div id="SubPopup">

<div class="form_boxC">
<p class="f_cB pdg_t5">提示：带"<span class="f_cB">*</span>"号为必填项</p>
<table cellpadding="0" cellspacing="0">
<tr>
<th width="100">开发者ID <span class="f_cB">*</span></th>
<td><div class="txtbox floatL" style="width:150px;"><input id="form_cid" name="" type="text" size="12" value=""></div></td>
</tr>
<tr>
<th width="100">API类型 <span class="f_cB">*</span></th>
<td><div class="txtbox floatL" style="width:150px;"><input id="form_otype" name="" type="text" size="12" value=""></div></td>
</tr>

<tr>
<th width="100">上线时间 <span class="f_cB">*</span></th>
<td><div class="txtbox floatL" style="width:150px;"><input id="form_order_tm" name="" type="text" size="12" value=""></div></td>
</tr>

<tr>
<th width="100">备注 <span class="f_cB">*</span></th>
<td><div class="txtbox floatL" style="width:150px;"><input id="form_remark" name="" type="text" size="12" value=""></div></td>
</tr>
</table>
</div>
</div>
<!-- SubPopup -->

<div id="BtmBtn">
            <div class="btn_boxB floatR mag_l20"><input name="" type="button" value="取消" onmousemove="this.className='input_move'" onmouseout="this.className='input_out'"></div>
            <div class="btn_box floatR"><input name="" type="button" onclick=add_order_info() value="提交" onmousemove="this.className='input_move'" onmouseout="this.className='input_out'"></div>
</div>


</div>
</div>
<!-- /Popup -->
<!-- /Contents -->


<!-- /footer -->
<div class="footerpage"></div>
<!--footer over--> 
<!-- /footer -->
<!--   <script>
    $$(function(){
        /*公共部分
         * 导航栏
         * footer CopyRight
         */
        $$(".headerpage").load("header.html");
        $$(".footerpage").load("footer.html");
    });
</script>-->


